body{
  background-color: rgb(50,50,50);
  font-family: Verdana;
}

.floor{
  position: relative;
  left: 1421px;
}
.floor > .tile{
  position: absolute;
  width: 150px;
  height: 300px;
  overflow: hidden;
  color: red;
  font-size: 1rem;
  padding-top: 25px;
  box-sizing: border-box;
}

.ui-buttons-container{
	position: fixed;
	bottom: 50px;
	left: 15px;
}

#floor1{
	top: 225px;
}
#floor2{
	
}
.ui-buttons-container >div{
	background-color: white;
	display: inline-block;
	position: absolute;
	padding: 10px;
	top: 50px;
	left: 0;
	text-align: center;
	width: 80px;
}
.ui-buttons-container >button{
	border: none;
	width: 50px;
	height: 50px;
	background-image: url('/ui-images/rotate-arrow.svg');
	background-size: 50%;
	background-position: center center;
	background-repeat: no-repeat;
	color: transparent;
	overflow: hidden;
}
.ui-buttons-container >button:hover{
	background-color: rgba(75,75,200);
}
.ui-buttons-container >button:nth-of-type(2){
	transform: rotateY(180deg);
}
.ui-buttons-container button + button{
}

.tile-button{
	position: absolute;
	display: block;
	width: 98px;
	height: 50PX;
	border: none;
	border-radius: 50%;
	/*background-color: transparent;*/
}

.tile-button:hover{
	background-color: rgba(25,25,25,.15);
}

#button_test{
	position: fixed;
	top: 0;
	width: 100px;
	left: calc(50% - 50px);
}

.player{
	position: absolute;
	width: 150px;
	height: 300px;
	overflow: hidden;
	color: red;
	font-size: 1rem;
	padding-top: 25px;
	box-sizing: border-box;
	background-image: url('/player/player.png');
	background-size: auto;
	background-repeat: no-repeat;
}
